body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body * {
    box-sizing: inherit;
}

.table {
    width: 900px;
    max-width: calc(100% - 20px);
    border: 6px solid rgb(39, 141, 14);
    border-radius: 20px;
    background: rgb(22, 77, 8);
    margin: 0 auto;
    color: rgb(157, 252, 138);
    padding: 30px;
}

button{
    margin:10px;
    background:rgb(157, 252, 138);
    border:0;
    padding:10px,16px;
    border:2px solid rgb(69, 219, 69);
    font-size:18px;
    border-radius:10px;
    position:inherit;
}

.buttons{
    display: flex;
    justify-content: center;
    
}

.div-player{
    margin:50px;
}

.hand img{
    max-width:15%;
}

